.chatbot {
    position: fixed;
    bottom: 10px;
    right: 4px;
    z-index: 9999;
}

.logo_chatbot {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.logo_chatbot img {
    height: 100%;
    width: 100%;
    z-index: 999;
}

.chat_container {
    display: none;
    border-radius: 10px !important;
    height: 420px;
    width: 350px;
    box-shadow: 0px 0px 15px 0px #000;
    background-color: white;

}

.chat_header {
    border-radius: 10px 10px 0 0 !important;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: pink;
    color: #fff;
    position: relative;
}

.chat_header .logoChatBot {
    height: 55px;
    width: 55px;
    border-radius: 50%;

}

.cross {
    position: absolute;
    right: 5px;

}

.cross i {
    font-size: 35px;
    color: white;
    font-weight: 800;
}

.chat_header .logoChatBot img {
    height: 100%;
    width: 100%;
}

.chat_header .titleChatBot p {
    font-size: x-large;
    align-self: center;
    font-weight: 500;
    padding: 25px 4px;
    margin-top: 10px;
}

.chat_body {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;


}

.questions {
    background-color: pink;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px 10px 10px 10px;
    cursor: pointer;
    word-break: break-all;
}

.answer {
    display: none;
    background-color: rgb(58, 0, 29);
    color: white;
    text-align: justify;
    word-break: break-all;
    padding: 10px;
    border-radius: 10px 2px 10px 10px;
}

.answer a {
    margin-top: 20px;
    text-decoration: none;
    background-color: rgb(29, 29, 247);
    color: #fff;
    padding: 2px 10px;
}

.thin {
    font-weight: 100;
}