*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup {
    z-index: 1;
    background-color: white;
    width: 100%;
    padding: 2px 0px !important;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    /* left: 50%; */
    top: 14%;

    font-family: "Poppins", sans-serif;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.popup button {
    display: block;
    position: absolute;
    right: 0;
    top: -15px;
    /* margin: 20px; */
    background-color: transparent;
    font-size: 40px;
    color: brown;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p {
    font-weight: 500;
    font-size: medium;
    text-align: center;

}

.popup a {
    font-size: medium;
    display: block;
    width: 120px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 2px 0;

}

.popup a:hover {
    background-color: brown;
}

@media screen and (max-width:768px) {
    .popup {

        width: 250px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

    }
}